@import "open-props/style";
@import "open-props/normalize";

@font-face {
  font-family: "Geist Variable";
  src: url("/fonts/GeistVariableVF.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono Variable";
  src: url("/fonts/GeistMonoVariableVF.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-sans: "Geist Variable", sans-serif;
  --font-mono: "MonoLisa", "Geist Mono Variable", monospace;
}

body {
  display: flex;
  flex-direction: column;
  gap: var(--size-8);
}

:is(h1, h2, h3) ~ *,
:is(*) ~ :is(h1, h2, h3) {
  margin-block-start: var(--size-5);
}

main {
  margin: 0 auto;
  padding: var(--size-fluid-3);
  max-width: 50rem;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  margin: auto auto 0 auto;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--size-3);
  padding-block: var(--size-5) calc(var(--size-5) + env(safe-area-inset-bottom));
  padding-inline: var(--size-5);

  div {
    display: flex;
    gap: var(--size-2);
  }

  div:last-child {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-5);

  div {
    display: flex;
    align-items: center;

    svg {
      width: var(--size-7);
      height: fit-content;
      fill: var(--text-1);
    }
  }
}

#photo-gallery {
  overflow: hidden;
  padding: var(--size-5);
  gap: var(--size-5);
  justify-content: center;
  display: flex;

  > div {
    aspect-ratio: 9/10;
    width: 11rem;
    border-radius: var(--radius-2);
    overflow: hidden;
    flex: none;
    > img {
      object-fit: cover;
      block-size: 100%;
    }
  }
}

#cta {
  display: inline-flex;
  gap: var(--size-7);
}

a,
.button {
  display: inline-flex;
}

.button {
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-2);
  padding-block: var(--size-2);
  padding-inline: var(--size-3);
  font-weight: 500;
  font-size: var(--size-3);
  background-color: var(--surface-2);
  color: var(--text-1);
}

.button.primary {
  background-color: var(--text-1);
  color: var(--surface-2);
}

.card {
  border: 1px solid var(--surface-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);

  > div {
    padding: var(--size-5);
  }
}
